form {
  padding: 28px 18px;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  label {
    margin: 24px 0 6px 0;
    color: var(--color-neutral-60);

    &:first-child {
      margin-top: 0;
    }
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    border: 1px solid var(--color-neutral-30);
    border-radius: 3px;
    font-size: 16px;
    padding: 6px var(--spacing);

    &::placeholder {
      font-size: 14px;
      color: var(--color-neutral-20);
    }
  }

  textarea {
    resize: none;
  }
}