.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing) var(--spacing) 16px var(--spacing);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-neutral-1);
}

.header__section {
  display: flex;
  align-items: center;
}