.section {
  h1 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-60);
    margin-bottom: var(--spacing);
  }

  .section-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px var(--spacing) 36px var(--spacing);
    box-shadow: var(--box-shadow);
  }
}